body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh !important;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.dropdown-toggle {
    outline: 0;
}

.nav-flush .nav-link {
    border-radius: 0;
}

.scrollarea {
    overflow-y: auto;
}

.message {
    margin: auto !important;
    width: 50%;
    border: 5px solid grey;
    padding: 10px;
}

.create-board {
    width: 600px;
}

.user-list {
    width: 25rem;
    margin-right: 0% !important;
    margin-left: auto;
    overflow: auto;
    height: 80vh;
}